.main {
  padding-top: 2rem;
}

.main h1 {
  text-align: center;
  font-weight: 900;
}

.balanceForm {
  width: 32rem;
  text-align: center;
  padding: 2rem 0;
  margin: 3rem auto;
  border: 1px solid black;
}

.balanceForm label h3 {
  margin: 0 !important;
}

.displayLog {
  border: 1px solid black;
  width: 27.6rem;
  margin: auto;
  padding: 2rem 2.3rem;
}

.error {
  color: #eb5656;
  margin-top: 0 !important;
  font-size: 14px;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 9px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  margin: 2px;
}

.button:active {
  scale: 0.9;
}

.button:hover {
  background-color: rgba(213, 212, 212, 0.721);
}

.balanceForm input {
  padding: 11px 15px;
  border-style: none;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 5px;
  outline: none;
  font-size: 13px;
}

.balanceForm input:focus {
  border-color: rgb(0, 110, 255) !important;
}